@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.burger-btn {
  display: none;
}

.nav-desktop {
  display: flex;
  gap: 1rem;
  align-items: center;
}

@media (max-width: 768px) {
  .burger-btn {
    display: block;
  }
  .nav-desktop {
    display: none;
  }
}
